/* 主色：#87CA23*/
#aboutLogo {
	width: 600px;
	height: 160px;
	margin: 80px auto 0;
	background: url(../icons/icon128.png) center center no-repeat;
}
#aboutLogoName {
	width: 600px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #87CA23;
	font-size: 20px;
	font-weight: bold;
}
#aboutVersion {
	width: 600px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #ccc;
	font-size: 10px;
}
#aboutContact {
	width: 600px;
	margin: 0 auto;
}
#aboutContactHeader {
	width: 600px;
	height: 60px;
	line-height: 30px;
	text-align: center;
}
#aboutContactItems {
	width: 120px;
	margin: 20px auto;
}
.contentSeparatorAbout {
	width: 500px;
	height: 0px;
	margin: 40px auto;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.aboutContactItem {
	float: left;
	width: 60px;
	height: 60px;
}
.aboutContactItemImg {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	display: block;
}
.aboutContactItemTitle {
	width: 60px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
.aboutContactItemImgGray {
	z-index: -1;
	position: absolute;
}
.aboutContactItemImgColor {
	opacity: 0;
	transition: all 250ms ease-in-out;
}
.aboutContactItemImgColor:hover {
	opacity: 1;
	transition: all 250ms ease-in-out;
}